<!--NAVIGATION START-->
<div class="menu-icon">
    <img src="images/Group 4.svg" class="menuLines" alt="">
</div>

<nav class="main-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/allposts.html">All Posts</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<!--NAVIGATION END-->