<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/allposts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--NAVIGATION START-->
    <div class="menu-icon">
        <img src="images/Group 4.svg" class="menuLines" alt="">
    </div>

    <nav class="main-menu">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/allposts.html">All Posts</a></li>
            <li><a href="/contact.html">Contact</a></li>
        </ul>
    </nav>
    <!--NAVIGATION END-->
    <div class="container">
        
    </div>
    <script src="app.js"></script>
</body>
</html>